### NYPD Motor Vehicle Collision Data

---
### Connect to a database

We will first load the SQL extension:

In [ ]:
%load_ext sql

We will connect to a local sqlite database:

`database_type://username:password@host/database_name`

Also, each sql command requires to begin with the magic `%sql`.

In [ ]:
%sql sqlite:///nypd_collisions.db

The tables in the database are:

In [ ]:
%%sql
SELECT name, sql FROM sqlite_master WHERE type='table';

Let's look at the data! We can view the first 10 columns of a table:

In [ ]:
%sql select * from collisions limit 10

In [ ]:
%sql select * from borough_pops

In [ ]:
%%sql
select "CONTRIBUTING FACTOR VEHICLE 1" from collisions
limit 10;

Count the number of rows:

In [ ]:
%%sql
SELECT count(*) FROM collisions;

In [ ]:
%%sql
select distinct "CONTRIBUTING FACTOR VEHICLE 1" from collisions

### Applying Functions along Columns

Find the range of latitude and longitude coordinates:

In [ ]:
%%sql
SELECT min(longitude), max(longitude),min(latitude),max(latitude) FROM collisions;

Calculate number of all alcohol-involed accidents:

In [ ]:
%%sql

SELECT count(*) FROM collisions WHERE
    "CONTRIBUTING FACTOR VEHICLE 1" = 'Alcohol Involvement' OR
    "CONTRIBUTING FACTOR VEHICLE 2" = 'Alcohol Involvement' ;

---
### Selecting Rows

Count of the bike collisions in the month of january

In [ ]:
%%sql
SELECT * FROM collisions
    WHERE "NUMBER OF CYCLIST INJURED" > 0 OR "NUMBER OF CYCLIST KILLED" > 0
    AND month = 1
    LIMIT 10;

In [ ]:
%%sql
SELECT count(*) FROM collisions
    WHERE "NUMBER OF CYCLIST INJURED" > 0 OR "NUMBER OF CYCLIST KILLED" > 0
    AND month = 1;

---
### Grouping

Count how many offenses are for each Offense Type

In [ ]:
%%sql
select "CONTRIBUTING FACTOR VEHICLE 1", count(*) from collisions
    group by "CONTRIBUTING FACTOR VEHICLE 1" order by count(*) DESC;

Count how many people were killed by each factor.

In [ ]:
%%sql
select "CONTRIBUTING FACTOR VEHICLE 1", sum("NUMBER OF PERSONS KILLED"), count(*) from collisions
    group by "CONTRIBUTING FACTOR VEHICLE 1" order by sum("NUMBER OF PERSONS KILLED") DESC;

How many accidents per month

In [ ]:
%%sql
select year, month, count(*) from collisions
group by year, month;

How many accidents for each month?

In [ ]:
%%sql
SELECT month,count(*) FROM collisions
    WHERE year > 2012 AND year < 2017
    GROUP BY month 
    ORDER BY month ASC;

Which month is with highest number of bike collisions?

In [ ]:
%%sql
select month, count(*) from collisions
    WHERE "NUMBER OF CYCLIST INJURED" >= 1 AND year > 2012 AND year < 2017
    GROUP BY month
    ORDER BY month ASC;

In [ ]:
%%sql
SELECT BOROUGH,count(*) FROM collisions
	group by BOROUGH
	ORDER BY count(*) DESC;

### Aliasing

Let's add better column names:

In [ ]:
%%sql
SELECT "BOROUGH", "CONTRIBUTING FACTOR VEHICLE 1" as "Factor", count(*) as "total_count" FROM collisions
    WHERE BOROUGH != "None" AND "Factor" != "Unspecified"
	group by "BOROUGH", "FACTOR"
	ORDER BY "total_count" DESC
    LIMIT(1);

### Nesting

We cannot simply store the table as a variable, but we can apply several transformations on it by nesting queries.

Extracting the max:

In [ ]:
%%sql
SELECT "BOROUGH", count(*) as "total_count" FROM collisions
    WHERE BOROUGH != "None"
	group by "BOROUGH"
	ORDER BY "total_count" DESC;

In [ ]:
%%sql
SELECT max(collision_by_borough.total_count) FROM 
    (
        SELECT BOROUGH, count(*) as "total_count" FROM collisions
        WHERE BOROUGH != "None"
        group by BOROUGH
    ) as collision_by_borough;

### Combining Tables with Join

In [ ]:
%%sql 
SELECT "BOROUGH", "CONTRIBUTING FACTOR VEHICLE 1" as "Factor", count(*) as "total_count" FROM collisions
    WHERE BOROUGH != "None" AND "Factor" != "Unspecified"
	group by "BOROUGH", "FACTOR"
	ORDER BY "total_count" DESC
    LIMIT(25);

 Create Table 2 (pop) which contains the population for each borough:
   
<pre>
```
|tract | population |
|---|--- |
```
</pre>

In [ ]:
%%sql
SELECT "Name","Population_2016_est" as population from borough_pops
	ORDER BY "BOROUGH" ASC;

Observations:
* the common column between the tables contains borough name
* the tract columns have different names: "BOROUGH" vs "Name"
* accident rate = total_count/population (SQL returns an integer for division of integers: need to convert to float for float division)

Taking all these observations into account, the query which joins the two tables along the borough name is:

In [ ]:
%%sql
    SELECT borough_stats.Name, cast(borough_collisions.total_count as float) / borough_stats.population as collision_rate from
	(
        SELECT "Name","Population_2016_est" as population from borough_pops
    ) as borough_stats
    join
    (
        SELECT "BOROUGH", count(*) as "total_count" FROM collisions
        WHERE BOROUGH != "None" 
        group by "BOROUGH"
    ) as borough_collisions
    on borough_stats.Name = borough_collisions.BOROUGH order by "collision_rate" DESC;

In [ ]:
%%sql
    SELECT borough_stats.Name, borough_collisions.factor as factor, cast(borough_collisions.total_count as float) / borough_stats.population as collision_rate from
	(
        SELECT "Name","Population_2016_est" as population from borough_pops
    ) as borough_stats
    join
    (
        SELECT "BOROUGH", "CONTRIBUTING FACTOR VEHICLE 1" as "Factor", count(*) as "total_count" FROM collisions
        WHERE BOROUGH != "None" AND "Factor" != "Unspecified"
        group by "BOROUGH", "FACTOR"
    ) as borough_collisions
    on borough_stats.Name = borough_collisions.BOROUGH
    where factor = 'Aggressive Driving/Road Rage'
    order by "collision_rate" DESC;

In [ ]:
%%sql
    SELECT borough_stats.Name, borough_collisions.factor as factor, cast(borough_collisions.total_count as float) / borough_stats.population as collision_rate from
	(
        SELECT "Name","Population_2016_est" as population from borough_pops
    ) as borough_stats
    join
    (
        SELECT "BOROUGH", "CONTRIBUTING FACTOR VEHICLE 1" as "Factor", count(*) as "total_count" FROM collisions
        WHERE BOROUGH != "None" AND "Factor" != "Unspecified"
        group by "BOROUGH", "FACTOR"
    ) as borough_collisions
    on borough_stats.Name = borough_collisions.BOROUGH
    where factor = 'Alcohol Involvement'
    order by "collision_rate" DESC;